<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label">Patient ID</label>
            <div class="layui-input-block">
                <input type="text" name="title" class="layui-input" placeholder="请输入商品标题" value="{$row.title|default=''}" disabled>
            </div>
        </div>

        <div class="layui-form-item" style="margin-top: -15px;">
            <label class="layui-form-label" style="margin-top: 50px;">Images </label>
            <div class="layui-input-block layuimini-upload">
                <input name="images" class="layui-input layui-col-xs6" placeholder="请上传商品图片" value="{$row.images|default=''}" readonly disabled style="border: 0; display:none;">
                <div class="layuimini-upload-btn">
                    <span><a  data-upload="images" data-upload-number="more" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"></a></span>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required2" style="margin-top: 10px;">Identification</label>
            <div class="layui-input-block" style="padding-top: 10px;">
                <select name="logo" lay-verify="required">
                    <option value=''>Null</option>
                    {foreach $checkList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.logo" }selected="" {/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="display:flex; margin-left: 20px;">
            <div>
                <button type="button" class="layui-btn" onclick="copyText()" layui-btn-sm>Click for Malignant Probability (AI)</button>
            </div>
            <div style="margin-left: 10px;">
                <input type="password" name="describe" class="layui-input layui-col-xs6" lay-verify="required"  placeholder="请输入密码" maxlength="20" value="{$row.describe|default='Please wait a moment...'}" disabled>
            </div>
        </div>
        <!-- <div class="layui-form-item">
            <label class="layui-form-label required3">Second Indentification with AI Prediction</label>
            <div class="layui-input-block" style="padding-top: 30px;">
                <select name="sales" lay-verify="required">
                    <option value=''>Null</option>
                    {foreach $checkList as $k=>$v}
                    <option value='{$k}' {in name="k" value="$row.sales" }selected="" {/in}>{$v}</option>
                    {/foreach}
                </select>
            </div>
        </div> -->
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Remark</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea" placeholder="Please enter remarks">{$row.remark|default=''}</textarea>
            </div>
        </div>
         <input name="status" value="2" hidden>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>Confirm</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">Reset</button>
        </div>

    </form>
</div>
<script type="text/javascript">    	
function copyText() {
                $("input[name='describe']").attr('type', 'text');
}
</script>
